@model List<BusRouteScheduleViewModel>
@{
    var role = Context.Session.GetString("UserRole");
}

@if (role == "Admin")
{
    <div class="w-100 card border-bottom-0">
        <div class="card-header ml-0 py-3" style="background-color: #023673">
            <div class="row">
                <div class="col-12 text-center ">
                    <h2 class="text-white py-2"><i class="bi bi-bus-front"></i> Routes</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body border p-3" style="background-color: #023673">
        <div class="row pb-0">
            <div class="col-6 offset-6 text-end">
                <a asp-controller="Route" asp-action="Create" class="btn btn-light"> <i class="bi bi-plus-circle"></i> Create New Route </a>
            </div>
        </div>
    </div>
    <table class="table table-bordered" style="background-color: dimgray">
        <thead>
            <tr>
                <th>Name</th>
                <th>Origin</th>
                <th>Destination</th>
                <th>Price</th>
                <th>Departure Time</th>
                <th>Arrival Time</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var r in Model)
            {
                @foreach (var schedule in r.Schedules)
                {
                    <tr>
                        @if (schedule.Equals(r.Schedules.First()))
                        {
                            <td rowspan="@r.Schedules.Count">
                                @r.Name
                                <br />
                                <div class="w-30 btn-group" role="group">
                                    <a asp-controller="Route" asp-action="Update" asp-route-id="@r.Id"
                                       class="btn btn-success mx-0">
                                        <i class="bi bi-pencil-square"> Edit</i>
                                    </a>
                                    <a asp-controller="Route" asp-action="Delete" asp-route-id="@r.Id"
                                       class="btn btn-danger mx-0">
                                        <i class="bi bi-trash-fill"> Delete</i>
                                    </a>
                                </div>
                            </td>
                            <td rowspan="@r.Schedules.Count">@r.Origin</td>
                            <td rowspan="@r.Schedules.Count">@r.Destination</td>
                            <td rowspan="@r.Schedules.Count">@r.DefaultPrice</td>
                        }
                        <td>@schedule.DepartureTime</td>
                        <td>@schedule.ArrivalTime</td>
                    </tr>
                }
            }
        </tbody>
    </table>
}
else if (role == "Client")
{
    <div class="w-100 card border-bottom-0">
    <div class="card-header ml-0 py-3" style="background-color: #023673">
        <div class="row">
            <div class="col-12 text-center ">
                <h2 class="text-white py-2"><i class="bi bi-bus-front"></i> Routes</h2>
            </div>
        </div>
    </div>
</div>
<div class="card-body border p-3" style="background-color: #023673">
    <div class="row pb-0">
    </div>
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                @TempData["SuccessMessage"]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
</div>
<table class="table table-bordered" style="background-color: dimgray">
    <thead>
        <tr>
            <th>Name</th>
            <th>Origin</th>
            <th>Destination</th>
            <th>Price</th>
            <th>Departure Time</th>
            <th>Arrival Time</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>          

        @foreach (var r in Model)
        {
            @foreach (var schedule in r.Schedules)
            {
                <tr>
                    @if (schedule.Equals(r.Schedules.First()))
                    {
                        <td rowspan="@r.Schedules.Count">@r.Name</td>
                        <td rowspan="@r.Schedules.Count">@r.Origin</td>
                        <td rowspan="@r.Schedules.Count">@r.Destination</td>
                        <td rowspan="@r.Schedules.Count">@r.DefaultPrice</td>

                        }
                    <td>@schedule.DepartureTime</td>
                    <td>@schedule.ArrivalTime</td>
                        <td>
                            <form asp-controller="Route" asp-action="Reserve" method="post" onsubmit="return confirm('Are you sure you want to Reserve this ticket?');">
                                    <input type="hidden" name="scheduleId" value="@schedule.Id" />
                                    <input type="hidden" name="price" value="@r.DefaultPrice" />
                                <button type="submit" class="btn btn-outline-primary">
                                        <i class="bi bi-ticket"></i> Reserve
                                    </button>
                                </form>
                        </td>
                    </tr>
            }
        }
    </tbody>
</table>
}

